- content_for(:title,  "Index")


.center.jumbotron
  %h1
    Welcome!
    %br
    %br
    %h2
      To continue - press:
  - if signed_in?
    = link_to "Application", work_path, class: "btn app-button"
  - else
    = link_to "Sign up", signup_path, class: "btn app-button"


-#.app_notice
-#  = render 'main/app_dev_notice'


-#
-#= link_to image_tag("rails.png", alt: "Rails logo"), |
-#  'http://rubyonrails.org/'
