%footer.footer
  %div.footer__copyright
    %span.author
    = t ('Copyright © NaniLevi')
    %div{:style => "float: right; margin-top:-100px;" }
      %a{:href =>"http://www.brainlook.org", :style=>"text-decoration:none; color:fff;"}
        %img{:alt => "Share to Brainlook", :src => "/assets/BL.png", :title => "Brainlook", :style=>"width:150px; margin-top:-50px" }
        %div{:style => "margin-left:40px; margin-top:-40px; color:#fff;"}
          = t(".share_opinion")
